node_modules/
sessions/
.env
.wwebjs_auth/
.wwebjs_cache/

media/stickers/*
!media/stickers/.gitkeep

media/stickers_categorias/*
!media/stickers_categorias/.gitkeep

media/audios_categorias/*
!media/audios_categorias/.gitkeep